.search-result{
    margin-top:20px;
}

.field-name{
    min-width: 120px;
}

.pagination{
    margin-top: 0px;
}
.namelist_member .btn{
    float: right;
}
.activity_btn_group{
    margin-top:20px;
}
.quick-btn{
    margin-top: 20px;
}
